Checks: 'bugprone-*,modernize-*,performance-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-modernize-use-trailing-return-type'
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*|include/.*'
FormatStyle: file
